---
import { site } from '../config/site';
---

<div class="bottom-tape">
  <div class="tape-inner">
    <span>© <a href={site.companyUrl}><span class="hot">Banana Pancakes s.r.o.</span></a> · all rights reserved</span>
  </div>
</div>
