[package]
name = "<<[ package_name ]>>-test-support"
edition.workspace = true
version.workspace = true
license.workspace = true

[dependencies]
<<[ package_name ]>> = { path = "../<<[ package_name ]>>" }
axum.workspace = true
