_commit: '<<[ _jig.commit | replace("'", "''") ]>>'
_src_path: '<<[ _jig.src_path | replace("'", "''") ]>>'
_template_mode: '<<[ _jig.template_mode | replace("'", "''") ]>>'
_template_local_path: '<<[ _jig.template_local_path | replace("'", "''") ]>>'
repo_name: '<<[ repo_name | replace("'", "''") ]>>'
default_branch: '<<[ default_branch | replace("'", "''") ]>>'
ci_github_runner: '<<[ ci_github_runner | replace("'", "''") ]>>'
jig_version: '<<[ jig_version | replace("'", "''") ]>>'
work:
  gates:
    - id: 'contract'
      kind: 'check'
      tool: 'jig.contract_check'
    - id: 'tests'
      kind: 'check'
      tool: 'jig.test'
[% if sqlx_enabled %]
    - id: 'sqlx'
      kind: 'check'
      tool: 'jig.sqlx_check'
    - id: 'schema'
      kind: 'check'
      tool: 'jig.schema_check'
[% endif %]
[% if sqlx_enabled and schema_dump_enabled %]
    - id: 'schema-dump'
      kind: 'check'
      tool: 'jig.schema_dump'
[% endif %]
template_source_url: '<<[ template_source_url | replace("'", "''") ]>>'
sqlx_enabled: [% if sqlx_enabled %]true[% else %]false[% endif %]
rust_crate_roots:
[% for root in rust_crate_roots %]
  - '<<[ root | replace("'", "''") ]>>'
[% endfor %]
[% if sqlx_enabled %]
rust_migration_dir: '<<[ rust_migration_dir | replace("'", "''") ]>>'
rust_sqlx_metadata_dir: '<<[ rust_sqlx_metadata_dir | replace("'", "''") ]>>'
[% endif %]
schema_dump_enabled: [% if schema_dump_enabled %]true[% else %]false[% endif %]
schema_dump_command: '<<[ schema_dump_command | replace("'", "''") ]>>'
[% if sqlx_enabled %]
migration_add_command: '<<[ migration_add_command | replace("'", "''") ]>>'
[% endif %]
bootstrap_command: '<<[ bootstrap_command | replace("'", "''") ]>>'
dev_command: '<<[ dev_command | replace("'", "''") ]>>'
rust_fmt_check_command: '<<[ rust_fmt_check_command | replace("'", "''") ]>>'
rust_clippy_command: '<<[ rust_clippy_command | replace("'", "''") ]>>'
rust_test_command: '<<[ rust_test_command | replace("'", "''") ]>>'
rust_test_locked_command: '<<[ rust_test_locked_command | replace("'", "''") ]>>'
web_package_manager: '<<[ web_package_manager | replace("'", "''") ]>>'
frontend_apps:[% if frontend_apps | length == 0 %] [][% else %]
[% for app in frontend_apps %]
  - name: '<<[ app.name | replace("'", "''") ]>>'
    dir: '<<[ app.dir | replace("'", "''") ]>>'
    coverage_threshold: <<[ app.coverage_threshold ]>>
[% endfor %]
[% endif %]
